* {
	box-sizing: border-box;
}
body {
	padding: 50px 50px;
}

button {
	padding: 5px 10px;
	border-radius: 5px;
	outline: none;
}
.container {
	margin-top: 20px;
	height: 50vh;
	border: 2px solid black;
	text-align: center;
	display: flex;
	align-items: center;
	padding: 5px;
	justify-content: center;
}
#choice {
	outline: none;
}
#search {
	width: 60px;
}
#resetBtn {
	background-color: red;
	color: white;
}
#goBtn {
	background-color: green;
	color: white;
}

.barColor {
	height: 50px;
	width: 50px;
	border: 1px solid black;
	margin: 1px 1px;
}
