* {
	box-sizing: border-box;
}
body {
	padding: 50px 50px;
	font-family: 'Spartan';
	background-color: rgb(247, 247, 247);
}

button {
	padding: 5px 10px;
	border-radius: 5px;
	outline: none;
}
.container {
	margin-top: 20px;
	height: 50vh;
	border: 1px solid rgb(150, 150, 150);
	text-align: center;
	display: flex;
	align-items: center;
	padding: 5px;
	justify-content: center;
	background-color: white;
}
hr {
	margin-top: 10px;
	margin-bottom: 20px;
	width: 200px;
}
#heading {
	font-size: 40px;
	text-align: center;
}
#choice {
	outline: none;
}
#search {
	width: 60px;
	outline: none;
}
#resetBtn {
	/* background-color: rgb(187, 187, 187); */
	/* color: white; */
	font-weight: bold;
}
#goBtn {
	/* background-color: rgb(188, 228, 188); */
	/* background-color: rgb(255, 255, 255); */
	background-color: rgb(238, 255, 86);
	font-weight: bold;
	/* color: white; */
}

.barColor {
	height: 50px;
	width: 50px;
	border: 1px solid black;
	margin: 1px 1px;
	padding-top: 5px;
}
